<p id="notice"><%= notice %></p>

<% if !current_user %>
  <p>
    <%= link_to "signup", new_user_registration_path %> |
    <%= link_to "login", new_user_session_path %>
  </p>
<% end %>

<div class="posts">
  <% @posts.each do |post| %>
    <p>
      <%= link_to image_tag(qiniu_image_url(post, :square), size: '300'), post, class: 'image' %>
      <br>
      <%= post.title %>
      <% if user_signed_in? && post.creator == current_user %>
      <br>
        <%= link_to 'Destroy', post, method: :delete, data: { confirm: "Are you sure?" } %>
      <% end %>
    </p>
  <% end %>
</div>

<br>

<%= link_to 'New Post', new_post_path %>
